<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>function１</key>
	<string>よく頑張ったね！</string>
	<key>function2</key>
	<string>君ならまだまだできる！</string>
	<key>function３</key>
	<string>やったね！</string>
</dict>
</plist>
